<div class="container">
    <div class="row">
        <h2>Add Invoice</h2><br><br>
    </div>
    <form [formGroup]="gstr2form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">gstin</label>
                    <input type="text" class="form-control" id="firstname" formControlName="gstin">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">fp</label>
                    <input type="number" class="form-control" id="lastname" formControlName="fp">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">ctin</label>
                    <input type="number" class="form-control" id="lastname" formControlName="ctin">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">inum</label>
                    <input type="number" class="form-control" id="lastname" formControlName="inum">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">ctin</label>
                    <input type="text" class="form-control" id="lastname" formControlName="ctin">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">inum</label>
                    <input type="text" class="form-control" id="lastname" formControlName="inum">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">idt</label>
                    <input type="date" class="form-control" id="lastname" formControlName="idt">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastname" class="control-label">val</label>
                    <input type="number" class="form-control" id="lastname" formControlName="val">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" value="">Supply attract reverse charge</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox">
                <label><input type="checkbox" value="">Tax on this voice is paid</label>
            </div>
        </div><br><br>
        
            <h2>Item Details</h2><br><br>
        
       
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">pos</label>
                    <input type="number" class="form-control" id="firstname" formControlName="pos">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">rchrg</label>
                    <input type="text" class="form-control" id="firstname" formControlName="rchrg">

                    <span style="color:red"
                        *ngIf="gstinvoiceform.get('rchrg').touched && gstinvoiceform.get('rchrg').invalid">

                        <span *ngIf="gstinvoiceform.get('rchrg').errors.required">

                            Name of the candidate is required

                        </span>

                        <span *ngIf="gstinvoiceform.get('rchrg').errors.pattern">

                            Only single Character is allowed

                        </span>

                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">etin</label>
                    <input type="text" class="form-control" id="firstname" formControlName="etin">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">inv_typ</label>
                    <input type="text" class="form-control" id="firstname" formControlName="inv_typ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">diff_percent</label>
                    <input type="number" class="form-control" id="firstname" formControlName="diff_percent">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">num</label>
                    <input type="number" class="form-control" id="firstname" formControlName="num">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">rt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="rt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">txval</label>
                    <input type="number" class="form-control" id="firstname" formControlName="txval">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">iamt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="iamt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">csamt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="csamt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">oinum</label>
                    <input type="text" class="form-control" id="firstname" formControlName="oinum">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">oidt</label>
                    <input type="date" class="form-control" id="firstname" formControlName="oidt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">camt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="camt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">samt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="samt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">sply_ty</label>
                    <input type="text" class="form-control" id="firstname" formControlName="sply_ty">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">typ</label>
                    <input type="text" class="form-control" id="firstname" formControlName="typ">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">omon</label>
                    <input type="number" class="form-control" id="firstname" formControlName="omon">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">expt_amt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="expt_amt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">nil_amt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="nil_amt">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-sm">
                    <label for="firstname" class="control-label">ngsup_amt</label>
                    <input type="number" class="form-control" id="firstname" formControlName="ngsup_amt">
                </div>


            </div>
            <button type="button" class="btn btn-success" (click)="savegstr2obj(gstr2form.value)">Add</button>
            <button type="button" class="btn btn-danger">Cancel</button>
    </form>
</div>