<div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> Position Type</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="term" placeholder="Search Here...">
      </div>
    </div>
    <div class="col-md-9">
      <button type="button" style="margin-bottom:8px" class="btn btn-danger float-right" data-toggle="modal"
        data-backdrop="static" data-target="#myModal">Add</button>
    </div>
  </div>
  <div class="tile">
    <h5>Tax Payer</h5> 
  
    <table class="table">
      <thead>
        <tr style="font-size:15px">          
          <th>id</th>
          <th>taxPayersType</th>
          <th>lastUpdatedBy</th>
          <th>updatedDate</th>
          <th>status</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let data of datas | filter:term |paginate: { itemsPerPage: 10, currentPage: p }"> -->
        <tr *ngFor="let data of datas| filter : term |paginate: { itemsPerPage: 5, currentPage: p }">
          <td>{{data.id}}</td> 
          <td>{{data.taxPayersType}}</td>
          <td>{{data.lastUpdatedBy}}</td>
          <td>{{data.updatedDate}}</td>
          <td *ngIf="data.status == 'Active'"><span [ngClass]="{'status1': data.status=='Inactive', 'status2':data.status=='Active' }" (click)="activedata(data)">Disable</span></td>
          <td *ngIf="data.status == 'Inactive'"><span [ngClass]="{'status1': data.status=='Inactive', 'status2':data.status=='Active' }" (click)="activedata(data)">Enable</span></td>
          <td>
             <span>
              <span (click)="editPositionType(data.id)" data-toggle="modal" data-target="#myModal"
                class="glyphicon glyphicon-pencil">
                <i class="fa fa-edit" style="font-size:24px;color:rgb(49, 17, 233)"></i>
              </span>
            </span> 
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event" class="pull-right"></pagination-controls>
  
  
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
   
      <form [formGroup]="taxpayerform">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Tax Payer</h4>
            <button type="button" class="close" data-dismiss="modal"  >&times;</button>
          </div>
          <div class="modal-body">
  
              <div class="col-md-12">
                  <label>taxPayersType</label>
                  <input type="text" placeholder="Enter Position Type" formControlName="taxPayersType" class="form-control" 
                  name="positionTypeName">
      
                  <span style="color:red" *ngIf = "taxpayerform.get('taxPayersType').touched && 
                  taxpayerform.get('taxPayersType').invalid">
                    <span *ngIf = "taxpayerform.get('taxPayersType').errors.required">
                        taxPayersType is required
                    </span>
                     
                    </span>
                   
                </div>

                <div class="col-md-12">
                    <label>taxPayersType</label>
                    <input type="date" placeholder="Enter Position Type" formControlName="updatedDate" class="form-control" 
                    name="positionTypeName">
        
                    <span style="color:red" *ngIf = "taxpayerform.get('lastUpdatedBy').touched && 
                    taxpayerform.get('updatedDate').invalid">
                      <span *ngIf = "taxpayerform.get('updatedDate').errors.required">
                          updatedDate is required
                      </span>
                       
                      </span>
                     
                  </div>
  
           
          </div>
          <div class="modal-footer">
            
            <button type="button" data-dismiss="modal"
              class="btn btn-primary float-right" id="register" (click)="createTaxpayers(taxpayerform.value)" 
              [disabled]="taxpayerform.invalid"
              >Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>   
