<br><br>
<form [formGroup]="gstr3bform">
<div class="tile">
    <h4>Eligible ITC</h4>
     <div class="row">
      <div class="col-md-4">
        <div class="form-group form-group-sm">
          <label for="gstin" class="control-label">gstin</label>
          <input type="text" class="form-control"  formControlName="gstin">
           <!-- validation-->

           <span style="color:red"
           *ngIf="gstr3bform.get('gstin').touched && gstr3bform.get('gstin').invalid">

           <span *ngIf="gstr3bform.get('gstin').errors.required">

              gstin of the Tax Payer required

           </span>

       </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="ret_period" class="control-label">ret_period</label>
          <input type="number" class="form-control"  formControlName="ret_period">
           <!-- validation-->

           <span style="color:red"
           *ngIf="gstr3bform.get('ret_period').touched && gstr3bform.get('ret_period').invalid">

           <span *ngIf="gstr3bform.get('ret_period').errors.required">

            ret_period of the Tax Payer required

           </span>

       </span>
        </div>
      </div>
    </div> 
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nature of supplies</th>
          <th>Integrated tax</th>
          <th>Central tax</th>
          <th>State/UT Tax</th>
          <th>Cess</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">(A)ITC Available (whether full or part)</th>
            <td colspan="4">
              <div class="form-group col-md-3">
                  <label class="control-label">ty</label>
                  <input type="text" placeholder="Enter text" class="form-control"  formControlName="tyig">
                </div>
                
          </td>
        </tr>
        <tr>
          <th scope="row">(1).Import of Goods
          </th>
  
          <td>
            <div class="form-group">
              <label class="control-label">iamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtig">
            </div>
          </td>
          <td colspan="2"></td>
          <td>
            <div class="form-group">
              <label  class="control-label">csamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtig">
            </div>
          </td>
  
        </tr>
        <tr>
          <th scope="row">(2).Import of Services
          </th>
  
          <td>
            <div class="form-group">
              <label  class="control-label">iamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtis">
            </div>
          </td>
          <td colspan="2"></td>
  
          <td>
            <div class="form-group">
              <label  class="control-label">csamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtis">
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">(3).Inward supplies liable to reverse charge(other than 1 & 2)
          </th>
          <td>
            <div class="form-group">
              <label  class="control-label">iamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtrchrg">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label  class="control-label">camt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtrchrg">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">samt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtrchrg">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">csamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtrchrg">
            </div>
          </td>
  
  
        </tr>
        <tr>
          <th scope="row">(4).Inward supplies from ISD
          </th>
  
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">iamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtisd">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">camt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtisd">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">samt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtisd">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">csamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtisd">
            </div>
          </td>
  
        </tr>
        <tr>
          <th scope="row">(5)All other ITC
          </th>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">iamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtitc">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">camt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtitc">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">samt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtitc">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">csamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtitc">
            </div>
          </td>
  
  
        </tr>
     <tr>
       <th scope="row">(B)ITC Reveresd
  
       </th>
       <td colspan="4">
          <div class="form-group col-md-3">
              <label class="control-label">ty</label>
              <input type="text" placeholder="Enter text" class="form-control"  formControlName="tyrule">
            </div>
            
      </td>
     </tr>
  
      <tr>
        <th scope="row">(1)As per rule 42 & 43
        </th>
        <td>
          <div class="form-group">
            <label for="lastname" class="control-label">iamt</label>
            <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtrule">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="lastname" class="control-label">camt</label>
            <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtrule">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="lastname" class="control-label">samt</label>
            <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtrule">
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="lastname" class="control-label">csamt</label>
            <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtrule">
          </div>
        </td>
      </tr>
  <tr>
      <th scope="row">(2)Others
        </th>
        <td>
            <div class="form-group">
              <label for="lastname" class="control-label">iamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtothers">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">camt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtothers">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">samt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtothers">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="lastname" class="control-label">csamt</label>
              <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtothers">
            </div>
          </td>
          <tr>
            <th scope="row">(C)Net ITC avilable (A) - (B)
            </th>
            
            <td>
                <div class="form-group">
                  <label for="lastname" class="control-label">iamt</label>
                  <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtnet">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="lastname" class="control-label">camt</label>
                  <input type="number" placeholder="Enter number" class="form-control"  formControlName="camti">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="lastname" class="control-label">samt</label>
                  <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtitc">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="lastname" class="control-label">csamt</label>
                  <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtitc">
                </div>
              </td>
          </tr>
          <tr>
            <th scope="row">(D)Ineligible ITC</th>
            <td colspan="4">
                <div class="form-group col-md-3">
                    <label class="control-label">ty</label>
                    <input type="text" placeholder="Enter text" class="form-control"  formControlName="tyine">
                  </div>
                  
            </td>
            </tr>
            <tr>
                <th scope="row">(D)Ineligible ITC</th>
                <td>
                    <div class="form-group">
                      <label for="lastname" class="control-label">iamt</label>
                      <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtine">
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="lastname" class="control-label">camt</label>
                      <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtine">
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="lastname" class="control-label">samt</label>
                      <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtine">
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="lastname" class="control-label">csamt</label>
                      <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtine">
                    </div>
                  </td>
                  </tr>

                  <tr>
                    <th scope="row">(E)Net ITC avilable (A) - (B)
                    </th>
                    <td>
                        <div class="form-group">
                          <label for="lastname" class="control-label">iamt</label>
                          <input type="number" placeholder="Enter number" class="form-control"  formControlName="iamtnet">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <label for="lastname" class="control-label">camt</label>
                          <input type="number" placeholder="Enter number" class="form-control"  formControlName="camtnet">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <label for="lastname" class="control-label">samt</label>
                          <input type="number" placeholder="Enter number" class="form-control"  formControlName="samtnet">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <label for="lastname" class="control-label">csamt</label>
                          <input type="number" placeholder="Enter number" class="form-control"  formControlName="csamtnet">
                        </div>
                      </td>
            </tr>
        
  
  </tbody>
    </table>
    <button type="button" (click)="savegst3bobj(gstr3bform.value)" class="btn btn-primary pull-right">Add</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success pull-right">Cancel</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-success pull-right" (click)="gstr3b()">Back</button>
    <br><br>
  </div>
  </form>
